* {
margin: 0;
padding: 0;	
}

body {
	font-family: 'poppins', sans-serif;
	overflow-x: hidden;
}

/* Navbar */
nav {
	display: flex;
	background-color: #cde3eb	;
	justify-content: space-around;
	/* padding: 20px 0; */
	color: rgb(51, 59, 168);
	height: 50px;
	align-items: center;
	box-shadow: 3px -7px 16px black;
}

nav .logo {
	font-family: 'Oleo Script', sans-serif;
	letter-spacing: 2px;
	width: 180px; 
	height: 80px;
}

nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
}

nav ul li a {
	color: rgb(0, 56, 161);
	text-decoration: none;
	font-size: 16px;
	opacity: 0.6;
	transition: 0.4s;
}

nav ul li a:hover {
opacity: 50;
}


/* Hamburger Menu */
.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input {
	position: absolute;
	width: 40px;
	height: 28px;
	left: -9px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: rgb(18, 71, 168);
	border-radius: 3px;
	transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	background-color: white;
	transform: rotate(45deg) translate(-1px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	background-color: white;
	transform: rotate(-45deg) translate(-3px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
	opacity: 0;
	transform: scale(0);
}

/* Responive breakpoint */

/* ukuran tablet */

@media screen and (max-width: 768px) {
	nav ul {
		width: 50%;
	}
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
	.menu-toggle {
		display: flex;
	}
	nav ul {
		position: absolute;
		right: 0;
		top: 0;
		width: 60%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background-color:  #cde3eb;
		z-index: -1;
		transform: translateX(100%);
		transition: all 1s;
		opacity: 0;
	}

	nav ul.slide {
		opacity: 1;
		transform: translateX(0);
	}
	
}
